.dashboard-card {
    border-radius: 20px;
    transition: transform .2s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.caja-resumen {
    background: white;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: rgb(48, 47, 47);
}

.caja-resumen i {
    font-size: 2.5rem;
}

.caja-resumen h4 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.texto-secundario{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    color: rgb(73, 73, 73);
}