.dashboard-card {
    border-radius: 20px;
    transition: transform .2s ease;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

.caja-resumen {
    background: white;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: rgb(48, 47, 47);
}

.caja-resumen i {
    font-size: 2.5rem;
}

.caja-resumen h4 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 700;
}

.texto-secundario{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 18px;
    color: rgb(73, 73, 73);
}

/* Estilos animación*/
.dashboard-card, .caja-resumen {
    opacity: 0;
    transform: translateY(20px);
    transition: all .5s ease;
}


/* Estilos toast */
.toast-notificacion {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #E53935;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    font-size: 15px;
    transition: right 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    z-index: 9999;
}

.toast-notificacion.mostrar {
    right: 20px;
    opacity: 1;
}

.toast-notificacion.error {
    background-color: #dc3545;
}

.toast-notificacion i {
    font-size: 18px;
}