.navbar {
    background-color: #0d6efd !important;
    height: 120px;
}

.logo_general {
    filter: brightness(0) invert(1);
}

.dropdown-menu {
    border-radius: 12px;
    padding: 10px;
}

.dropdown-header {
    font-size: 16px;
}

.dropdown-item {
    border-radius: 8px;
}

.dropdown-item:hover {
    background-color: #eef4ff;
}


