/* responsive */
.tabla-historial {
    display: table;

    @media (max-width: 576px) {
        display: none;
    }

}

.mobile-accordion {
    display: none;

    @media (max-width: 576px) {
        display: block;
    }
}
/* fin responsive */

.historial-container {
    max-width: 1100px;
}


.filtro-historial {
    border-radius: 15px;
    background: #ffffff;
}


.tabla-historial {
    border-radius: 10px;
    overflow: hidden;
}

.tabla-historial {
    background-color: #d9e5ff !important;
    color: white;
}



.tabla-historial tbody tr {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .4s ease, transform .4s ease;
}

.tabla-historial tbody tr.mostrar {
    opacity: 1;
    transform: translateY(0);
}