/* Responsive */
.tabla-incidencias {
    display: table;

    @media (max-width: 576px) {
        display: none;
    }

}

.mobile-accordion {
    display: none;

    @media (max-width: 576px) {
        display: block;
    }
}
/* fin responsive */

.incidencias-container {
    max-width: 1100px;
}

.filtro-incidencias {
    border-radius: 15px;
    background: #ffffff;
}

.tabla-incidencias {
    border-radius: 10px;
    overflow: hidden;
}

.tabla-incidencias {
    background-color: #d9e5ff !important;
    color: white;
}

.contenedor-boton .btn-nueva-incidencia {
    display: flex;
    justify-content: right;
    flex-direction: row;
    color: #0d6efd;
    font-weight: bold;
}



.tabla-incidencias tbody tr {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .4s ease, transform .4s ease;
}

.tabla-incidencias tbody tr.mostrar {
    opacity: 1;
    transform: translateY(0);
}



/* Estilos toast */
.toast-notificacion {
    position: fixed;
    top: 20px;
    right: -300px;
    background-color: #198754;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-size: 15px;
    transition: right 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    z-index: 9999;
}

.toast-notificacion.mostrar {
    right: 20px;
    opacity: 1;
}

.toast-notificacion.error {
    background-color: #dc3545;
}

.toast-notificacion i {
    font-size: 18px;
}