.incidencias-container{
     max-width: 1100px;
}

.filtro-incidencias {
    border-radius: 15px;
    background: #ffffff;
}

.tabla-incidencias {
    border-radius: 10px;
    overflow: hidden;
}

.tabla-incidencias {
    background-color: #d9e5ff !important;
    color: white;
}
.contenedor-boton .btn-nueva-incidencia{
display: flex;
justify-content: right;
flex-direction: row;
color: #0d6efd;
font-weight: bold;
}



.tabla-incidencias tbody tr {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity .4s ease, transform .4s ease;
}

.tabla-incidencias tbody tr.mostrar {
    opacity: 1;
    transform: translateY(0);
}