/* Animación css+js que hace que los elementos (que son invisibles al cargar la página) se hagan visible de uno
en uno creando así un efecto óptico elegante */
.politicas-container .card > * {
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.4s ease;
}


.politicas-container .card > *.aparecer {
    opacity: 1;
    transform: translateY(0);
}
.politicas-container h2 {
    letter-spacing: 0.5px;
}

.politicas-container ul {
    margin-left: 20px;
}

.politicas-container p,
.politicas-container li {
    font-size: 16px;
    line-height: 1.6;
}

.politicas-container .alert {
    font-size: 15px;
}
.aparecer {
    opacity: 1;
    transform: translateY(0);
}


