@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@400;700&display=swap");
body {
  background-color: #f8f9fa;
}

h1,
h2,
h3 {
  color: #0d6efd;
}

.table {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.btn-primary {
  background-color: #0d6efd;
  border: none;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

